* {
  margin: 0px;
  padding: 0px;
  /* box-sizing: border-box; */
}

body {
  font-family: 'Poppins';
  font-style: normal;
  overflow-x: hidden;
}

.contactHeader {
  display: flex;
  justify-content: flex-end;
  gap: 6.25rem;
  padding: 0.5625rem 6.125rem 0.5625rem 0;
}

.contactHeader > .maps {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactHeader > .maps > p {
  font-family: 'Poppins' sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.contactHeader > .tell {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactHeader > .tell > p {
  font-family: 'Poppins' sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

header {
  background-color: #e47500;
  padding: 1rem 88px 1rem 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  color: #fff;
  font-family: 'Poppis', sans-serif;
}

header nav {
  display: flex;
  align-items: center;
  text-transform: capitalize !important;
}

header > nav > ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

header > nav > ul > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

header > nav > ul > button {
  border: none;
  padding: 10px 27px;
  background-color: #fff;
  border-radius: 6px;
  text-transform: capitalize !important;
  width: 131px;
  height: 41.34px;
}

header > nav > ul > a > img {
  margin-right: 0.464375rem !;
}

header > nav > ul > button > a {
  text-decoration: none;
  color: #dc7000;
}

header {
  background-color: #e47500;
  padding: 1rem 83px 1rem 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  color: #fff;
  font-family: 'Poppis', sans-serif;
}

header nav {
  display: flex;
  align-items: center;
}

header > nav > ul {
  display: flex;
  align-items: center;
  gap: 6rem;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

.nav-item {
  list-style: none;
}

.nav-item > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

.nav-item.active {
  list-style-image: url(./../assets/circle.png);
  color: #fff;
}

header > nav > ul > button {
  border: none;
  padding: 10px 27px;
  background-color: #fff;
  border-radius: 6px;
}

header > nav > ul > button > a {
  text-decoration: none;
  color: #dc7000;
}

#main {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding-left: 150px;
}

.text {
  font-weight: 600;
  font-size: 33px;
  line-height: 180.5%;
}

.text-text {
  padding-top: 13px;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: #898989;
  font-style: normal;
}

.map {
  padding-top: 90px;
  width: 1060px;
  height: 537.77px;
  margin-bottom: 100px;
  padding-left: 100px;
}

.footer-main {
  display: flex;
  flex-direction: row;
  gap: 8rem;
  align-items: center;
  justify-content: center;
  width: 1500px;
}

.first {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #c2c2c2;
  padding-right: 80px;
  align-content: flex-start;
}
.first > p {
  padding-left: 15px;
}

.second {
  display: flex;
  flex-direction: row;
}

.third {
  gap: 1rem;
  display: flex;
  flex-direction: row;
}

.third > img {
  width: 30px;
  height: 30px;
}

.fourth {
  border-left: 1px solid #c2c2c2;
  padding-left: 80px;
  height: 90px;
  padding-top: 1rem;
}

.nome {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-top: 15px;
}

.fourth > img {
  width: 30px;
  height: 30px;
}

#formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  background: #f5f5f5;
  padding-top: 54px;
  padding-bottom: 70px;
}

#formulario h3 {
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
}

#formulario .divs {
  display: flex;
  flex-direction: column;
  padding-bottom: 74px;
}

.divs h5 {
  font-weight: 500;
  font-size: 13px;
  color: #777777;
  padding-left: 5px;
  padding-top: 8px;
}

.inputs {
  display: flex;
  gap: 20px;
}

.input > input {
  background: #ffffff;
  border: 0.6px solid #cecece;
  border-radius: 9px;
  height: 56px;
  width: 322px;
}

.input > h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 175.4%;
  letter-spacing: -0.3px;
  color: #4f4f4f;
}

.input2 > input {
  width: 671px;
  height: 56px;
  border: 0.6px solid #cecece;
  border-radius: 9px;
}

.input3 > input {
  width: 671px;
  height: 232px;
  border: 0.6px solid #cecece;
  border-radius: 9px;
  background: #ffffff;
}

.input2 > h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 175.4%;
  letter-spacing: -0.3px;
  color: #4f4f4f;
  padding-top: 20px;
}

.input3 > h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 175.4%;
  letter-spacing: -0.3px;
  color: #4f4f4f;
  padding-top: 20px;

}

.btn {
  padding-top: 51px;
  padding-left: 815px;
}

.btn > button {
  width: 193px;
  height: 57px;
  background: #dc7000;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 204%;
  color: #fff;
}

#formulario > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.lorem {
  padding: 110px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

footer > h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 187.5%;
  color: #222222;
}

footer > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  padding-bottom: 40px;

  color: #525252;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #1b1b1b;
  width: 1170px;
  height: 189px;
  gap: 200px;
  border-radius: 15px;
  padding-left: 53px;
}

.loop {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  gap: 10px;
  padding-bottom: 42px;
}

.loop > h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  color: #ffffff;
}

.loop > p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #ffffff;
}

.butCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  background: #ffffff;
  border-radius: 8px;
  width: 385.68px;
}

.butCont > input {
  border: none;
  color: #898989;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.butCont > button {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  width: 105px;
  height: 37px;
  color: #ffffff;
  background: #dc7000;
  border-radius: 8px;
  border: none;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  padding: 79px;

  background: #1b1b1b;
  color: #fff;
}

.aboutU > p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
}

.logo > h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 155.2%;
}

.aboutU > h5 {
  font-size: 17px;
  font-weight: 500;
}

.contactUs > p {
  font-size: 16px;
  font-weight: 400;
}

.contactUs > h5 {
  font-size: 17px;
  font-weight: 500;
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aboutU {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.redes {
  display: flex;
  align-items: flex-end;
}

.copyrigth{
  background: #1b1b1b;
  border-top: 1px solid #fff;
  width: 100%;
}
.copyrigth > p {
  color: #fff;
  padding: 29px 615.2px;
  font-weight: 400;
  font-size: 13px;
}
#buttonHeader:hover {
  transition: 100ms;
  background-color: rgb(255, 234, 211);
  cursor: pointer;
}

.redes > img {
  cursor: pointer;
}
