* {
  margin: 0;
}

body {
  font-family: 'Poppins';
  font-style: normal;
}

.contactHeader {
  display: flex;
  justify-content: flex-end;
  gap: 6.25rem;
  padding: 0.5625rem 6.125rem 0.5625rem 0;
}

.contactHeader > .maps {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactHeader > .maps > p {
  font-family: 'Poppins' sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.contactHeader > .tell {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactHeader > .tell > p {
  font-family: 'Poppins' sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

header {
  background-color: #e47500;
  padding: 1rem 88px 1rem 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  color: #fff;
  font-family: 'Poppis', sans-serif;
}

header nav {
  display: flex;
  align-items: center;
  text-transform: capitalize !important;
}

header > nav > ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

header > nav > ul > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

header > nav > ul > button {
  border: none;
  padding: 10px 27px;
  background-color: #fff;
  border-radius: 6px;
  text-transform: capitalize !important;
  width: 131px;
  height: 41.34px;
}

header > nav > ul > a > img {
  margin-right: 0.464375rem !;
}

header > nav > ul > button > a {
  text-decoration: none;
  color: #dc7000;
}

header {
  background-color: #e47500;
  padding: 1rem 83px 1rem 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  color: #fff;
  font-family: 'Poppis', sans-serif;
}

header nav {
  display: flex;
  align-items: center;
}

header > nav > ul {
  display: flex;
  align-items: center;
  gap: 6rem;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

.nav-item {
  list-style: none;
}

.nav-item > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

.nav-item.active {
  list-style-image: url(./../assets/circle.png);
  color: #fff;
}

header > nav > ul > button {
  border: none;
  padding: 10px 27px;
  background-color: #fff;
  border-radius: 6px;
}

header > nav > ul > button > a {
  text-decoration: none;
  color: #dc7000;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 142px;
  gap: 13px;
}

main > p {
  padding-bottom: 45px;
}

.clients {
  display: flex;
  flex-direction: row;
  padding-left: 213px;
  align-items: center;
  padding-top: 112px;
  padding-bottom: 67.5px;
}

.client {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-right: 118px;
  border-right: 2px solid #eeeff2;
}

.client2 {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-right: 118px;
  border-right: 2px solid #eeeff2;
}

.client3 {
  display: flex;
  flex-direction: column;
  padding-left: 36px;
  padding-right: 118px;
}

#clients2 {
  padding-left: 113px;
}

.client > h3 {
  font-family: 'Rubik';
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 5px;
}

.client2 > h3 {
  font-family: 'Rubik';
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 5px;
}

.client3 > h3 {
  font-family: 'Rubik';
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  padding-bottom: 5px;
}

#clients3 {
  padding-left: 91.5px;
}

.client > p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.client2 > p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

.client3 > p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #4f5665;
}

#primeira {
  display: flex;
  flex-direction: row;
  padding-right: 191px;
  padding-left: 109px;
  gap: 87.6px;
  background-image: linear-gradient(180deg, #eeeff2, #fff);
  padding-top: 132px;
  padding-bottom: 50px;
}

.lorem1 {
  display: flex;
  flex-direction: column;
}

.lorem1 > h2 {
  font-weight: 700;
  font-size: 30px;
  color: #222222;
  padding-bottom: 18px;
}

.lorem1 > p {
  padding-bottom: 16px;
  font-size: 14px;
  padding-bottom: 32px;
  color: #525252;
}

.radio {
  display: flex;
  gap: 12px;
  padding-bottom: 19px;
  font-size: 14px;
  color: #525252;
}

#game {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 109px;
  padding-top: 139px;
  gap: 138px;
}

.game1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
}

.game1 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #515151;
}

.game1 > h3 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

#gamer2 {
  padding-right: 10px;
}

.game1 > button {
  width: 177px;
  height: 50px;
  left: 730px;
  top: 2368px;

  background: #dc7000;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  margin-top: 29px;
}

#oculos {
  display: flex;
  flex-direction: row;
  padding-left: 109px;
  padding-top: 139px;
  gap: 138px;
}

.game1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
}

.game1 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #515151;
}

.game1 > h3 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

.game1 > button {
  width: 177px;
  height: 50px;
  left: 730px;
  top: 2368px;

  background: #dc7000;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  margin-top: 29px;
}

#phone {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 109px;
  padding-top: 139px;
  gap: 138px;
}

.game1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 46px;
}

.game1 > p {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #515151;
}

.game1 > h3 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;

  color: #000000;
}

#gamer2 {
  padding-right: 10px;
}

.game1 > button {
  width: 177px;
  height: 50px;
  left: 730px;
  top: 2368px;

  background: #dc7000;
  border: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  margin-top: 29px;
}

.game1 > button:hover {
  transition: 100ms;
  background-color: #d99853;
  cursor: pointer;
}

.viezh {
  display: flex;
  flex-direction: column;
  padding-right: 75px;
  padding-top: 10px;
}
.card {
  display: flex;
  align-items: center;
  gap: 21px;
}

.cards > p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #525252;
}

.viezh > h5 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}

.viezh > p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 20px;
  gap: 26.5px;
  text-align: start;

  width: 380px;
  height: 195px;

  background: #ffffff;
  border: 2px solid #dc7000;
  border-radius: 10px;
}

.dep {
  display: flex;
  justify-content: space-around;
}
#depoimentos > p {
  padding-bottom: 68px;
}

#depoimentos {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 88px;
  background: #e5e5e5;
}

#depoimentos > h2 {
  padding-bottom: 20px;
}

.yessica {
  display: flex;
  flex-direction: column;
  padding-right: 75px;
  padding-top: 10px;
}

.yessica > h5 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}

.yessica > p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

.kim {
  display: flex;
  flex-direction: column;
  padding-right: 75px;
  padding-top: 10px;
}

.kim > h5 {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #0b132a;
}

.kim > p {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #4f5665;
}

#kimYoung {
  padding-right: 60px;
}

#yessicaChris {
  padding-right: 60px;
}

.setas {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#direita {
  margin-top: 27px;
}

footer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.lorem {
  padding: 110px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

footer > h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 187.5%;
  color: #222222;
}

footer > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  padding-bottom: 40px;

  color: #525252;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #1b1b1b;
  width: 1170px;
  height: 189px;
  gap: 200px;
  border-radius: 15px;
  padding-left: 53px;
}

.loop {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  gap: 10px;
  padding-bottom: 42px;
}

.loop > h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  color: #ffffff;
}

.loop > p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #ffffff;
}

.butCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  background: #ffffff;
  border-radius: 8px;
  width: 385.68px;
}

.butCont > input {
  border: none;
  color: #898989;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.butCont > button {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  width: 105px;
  height: 37px;
  color: #ffffff;
  background: #dc7000;
  border-radius: 8px;
  border: none;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  padding: 79px;

  background: #1b1b1b;
  color: #fff;
}

.aboutU > p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
}

.logo > h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 155.2%;
}

.aboutU > h5 {
  font-size: 17px;
  font-weight: 500;
}

.contactUs > p {
  font-size: 16px;
  font-weight: 400;
}

.contactUs > h5 {
  font-size: 17px;
  font-weight: 500;
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aboutU {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.redes {
  display: flex;
  align-items: flex-end;
}

.copyrigth{
  background: #1b1b1b;
  border-top: 1px solid #fff;
  width: 100%;
}
.copyrigth > p {
  color: #fff;
  padding: 29px 615.2px;
  font-weight: 400;
  font-size: 13px;
}
#buttonHeader:hover {
  transition: 100ms;
  background-color: rgb(255, 234, 211);
  cursor: pointer;
}

.redes > img {
  cursor: pointer;
}
