* {
  margin: 0px;
}
body {
  font-family: 'Poppins';
}

.contactHeader {
  display: flex;
  justify-content: flex-end;
  gap: 6.25rem;
  padding: 0.5625rem 6.125rem 0.5625rem 0;
}

.contactHeader > .maps {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactHeader > .maps > p {
  font-family: 'Poppins' sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

.contactHeader > .tell {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.contactHeader > .tell > p {
  font-family: 'Poppins' sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
}

header {
  background-color: #e47500;
  padding: 1rem 88px 1rem 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  color: #fff;
  font-family: 'Poppis', sans-serif;
}

header nav {
  display: flex;
  align-items: center;
  text-transform: capitalize !important;
}

header > nav > ul {
  display: flex;
  align-items: center;
  gap: 5rem;
}

header > nav > ul > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

header > nav > ul > button {
  border: none;
  padding: 10px 27px;
  background-color: #fff;
  border-radius: 6px;
  text-transform: capitalize !important;
  width: 131px;
  height: 41.34px;
}

header > nav > ul > a > img {
  margin-right: 0.464375rem !;
}

header > nav > ul > button > a {
  text-decoration: none;
  color: #dc7000;
}

header {
  background-color: #e47500;
  padding: 1rem 83px 1rem 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > h2 {
  color: #fff;
  font-family: 'Poppis', sans-serif;
}

header nav {
  display: flex;
  align-items: center;
}

header > nav > ul {
  display: flex;
  align-items: center;
  gap: 6rem;
}

header > nav > ul > li > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

.nav-item {
  list-style: none;
}

.nav-item > a {
  color: #fff;
  text-decoration: none;
  font-family: 'Poppis', sans-serif;
}

.nav-item.active {
  list-style-image: url(./../assets/circle.png);
  color: #fff;
}

header > nav > ul > button {
  border: none;
  padding: 10px 27px;
  background-color: #fff;
  border-radius: 6px;
}

header > nav > ul > button > a {
  text-decoration: none;
  color: #dc7000;
}

main {
  display: flex;
  justify-content: space-between;
  background: rgba(226, 122, 12, 0.12);
}

#homens {
  height: 700px;
}

.aboutUs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 175px;
  padding-bottom: 113px;
  padding-left: 166px;
  padding-right: 110px;
  gap: 50px;
}

.aboutUs > h1 {
  font-style: normal;
  font-weight: 700;
  color: #222222;
  font-size: 30px;
  line-height: 180.5%;
}

.aboutUs > p {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 34px;
  color: #525252;
}

.ButtonGet {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 176px;
  height: 47.84px;
  background: #fa8305;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

.ButtonGet > button {
  background: #fa8305;
  border-radius: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  border: none;
}

body > h2 {
  font-weight: 600;
  font-size: 25px;
  line-height: 180.5%;
  color: #222222;
  padding: 144px 160px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 25px;
  padding: 0 37px;
  width: 378px;
  height: 348px;
  background: #ffffff;
  box-shadow: 0px 4px 94px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
}

.caixa {
  display: flex;
  gap: 43px;
  padding: 0 110px;
  text-align: start;
}

.cards > h5 {
  font-family: 'Poppins';
  font-weight: 400;

  font-size: 12px;
  padding: 10px 0;
  width: 100px;

  text-align: start;
  padding-left: 15px;
  color: #b000dc;
  background: rgba(176, 0, 220, 0.11);
  border-radius: 8px;
}

#vermelho {
  background: rgba(220, 66, 0, 0.11);
  color: rgba(220, 26, 0, 1);
}

#verde {
  background: rgba(0, 220, 141, 0.11);
  color: #00dc72;
}

.caixa2 {
  background-color: #f5f5f5;
  margin: 150px 0;
  display: flex;
  gap: 95px;
  padding-top: 113px;
  padding-left: 110px;
}

.textos {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

#pessoas {
  width: 496px;
  height: 489px;
}

.textos > h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 157%;
}

.textos > h5 {
  color: #dc7000;
  font-weight: 500;
  font-size: 16px;
}

.textos > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 202%;
  color: #000;
}

.avatars {
  display: flex;
  flex-direction: row;
  gap: 28px;
  padding: 0 110px;
  padding-top: 53px;
  padding-bottom: 130px;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 295px;
  height: 250px;

  background: #f5f5f5;
  border-radius: 20px;
}

.avatar > img {
  width: 117px;
  height: 117px;
}

.avatar > h5 {
  font-size: 19px;
  line-height: 202.5%;
  color: #000000;
}

.avatar > h6 {
  font-weight: 300;
  font-size: 16px;
  line-height: 202.5%;
  color: #8b8b8b;
}

#team {
  color: #222222;
  padding-left: 110px;
  font-weight: 600;
  font-size: 25px;
  line-height: 180.5%;
}

.colaboradores {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-right: 276px;
  font-weight: 600;
  font-size: 20px;
  line-height: 38px;
  background: #f5f5f5;
  color: #000000;
}

.colaboradores > h3 {
  padding-left: 110px;
}

.colaborador {
  display: flex;
  gap: 73px;
  align-items: center;
  padding-left: 100px;
  padding-top: 40px;
  padding-bottom: 105px;
}

#colab1 {
  width: 105.43px;
  height: 105.43px;
}
#colab2 {
  width: 158.15px;
  height: 105.43px;
}

#colab3 {
  width: 156.23px;
  height: 156.23px;
}

#colab4 {
  width: 147.61px;
  height: 50.8px;
}

#colab5 {
  width: 176.36px;
  height: 110.23px;
}

/*FOOTER CSS DAQUI PRA BAIXO */

footer {
  overflow-x: hidden;
  overflow-y: hidden;
}

.lorem {
  padding: 110px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 50px;
}

footer > h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 187.5%;
  color: #222222;
}

footer > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 187.5%;
  padding-bottom: 40px;

  color: #525252;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: #1b1b1b;
  width: 1170px;
  height: 189px;
  gap: 200px;
  border-radius: 15px;
  padding-left: 53px;
}

.loop {
  display: flex;
  flex-direction: column;
  padding-top: 40px;

  gap: 10px;
  padding-bottom: 42px;
}

.loop > h4 {
  font-weight: 500;
  font-size: 30px;
  line-height: 45px;

  color: #ffffff;
}

.loop > p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;

  color: #ffffff;
}

.butCont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px;
  background: #ffffff;
  border-radius: 8px;
  width: 385.68px;
}

.butCont > input {
  border: none;
  color: #898989;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
}

.butCont > button {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  width: 105px;
  height: 37px;
  color: #ffffff;
  background: #dc7000;
  border-radius: 8px;
  border: none;
}

.footer2 {
  display: flex;
  justify-content: space-around;
  padding: 79px;

  background: #1b1b1b;
  color: #fff;
}

.aboutU > p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 190%;
}

.logo > h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 155.2%;
}

.aboutU > h5 {
  font-size: 17px;
  font-weight: 500;
}

.contactUs > p {
  font-size: 16px;
  font-weight: 400;
}

.contactUs > h5 {
  font-size: 17px;
  font-weight: 500;
}

.contactUs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aboutU {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.redes {
  display: flex;
  align-items: flex-end;
}

span {
  color: #fff;
  background: #1b1b1b;
  padding: 29px 615.2px;
  border-top: 1px solid #fff;
  font-weight: 400;
  font-size: 13px;
}

#buttonHeader:hover {
  transition: 100ms;
  background-color: rgb(255, 234, 211);
  cursor: pointer;
}

.ButtonGet:hover {
  transition: 100ms;
  background-color: #d99853;
  cursor: pointer;
}

.ButtonGet > button:hover {
  transition: 100ms;
  background-color: #d99853;
  cursor: pointer;
}

.redes > img {
  cursor: pointer;
}
